name: Utc App CI/CD


on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

#permissions:
#  contents: read
#  id-token: write    

env:
    python_version: 3.11
    aws_region: ${{ secrets.AWS_REGION }}
    ecr_repository: ${{ secrets.ECR_REPOSITORY }}
    cluster: nginx-fargate-cluster
    service: nginx-fargate-service
    IMAGE_TAG: ${{ github.run_number }}
    

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-python@v4
              with:
                  python-version: ${{ env.python_version }} # or $python_version
            
            - name: install dependencies
              run: python -m pip install -r requirements.txt

            - name: Install pytest 
              run: python -m pip install pytest         
                 
            - name: Run unit test
              run: python -m pytest

            - name: configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}


                #  role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
                 # aws-region: ${{ env.aws_region }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2      
              
            - name: build, tag and push image to ECR  
              run: |
                  docker build -t ${{ env.ecr_repository }}:${{ env.IMAGE_TAG }} .
                  docker tag ${{ env.ecr_repository }}:${{ env.IMAGE_TAG }} ${{ env.ecr_repository }}:latest
                  docker push ${{ env.ecr_repository }}:${{ env.IMAGE_TAG }}
                  docker push ${{ env.ecr_repository }}:latest
            
            - name: List files for debug
              run: ls -R  
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v2
            with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}

              #  role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
             # aws-region: ${{ env.aws_region }}

        #  - name: Debug worksapce
        #    run: |
        #       echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
        #       ls -R $GITHUB_WORKSPACE
          - name: Update ECS task definition
            run: |
              sed -i "s|TAG_PLACEHOLDER|${{ env.IMAGE_TAG }}|g" nginx-fargate-task.json

          - name: Deploy to ECS
            uses: aws-actions/amazon-ecs-deploy-task-definition@v2
            with:
              cluster: ${{ env.cluster }}
              service: ${{ env.service }}
              task-definition: ${{ github.workspace }}/nginx-fargate-task.json
              wait-for-service-stability: true
              force-new-deployment: true